<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-item lines="none" class="transparent">
    <ion-label>
      <span class="title">
        Today
      </span>
      <span>
        Productive Day, Vagner
      </span>
    </ion-label>
    <ion-button slot="end" shape="round" color="success" class="ion-padding" (click)="create()">Add task</ion-button>
  </ion-item>


  <ion-item lines="none" class="transparent">
    <ion-label>
      <span class="month">
        April, 2020
      </span>
    </ion-label>
  </ion-item>


  <ion-grid>

    <ion-row>
      <ion-col size="1.7" class="day-week">
        <span class="day-name day-san">San</span>
        <span class="day day-san">5</span>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <span class="day-name">Mon</span>
        <span class="day">6</span>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <span class="day-name">Tue</span>
        <span class="day">7</span>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <span class="day-name">Wed</span>
        <span class="day">8</span>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <span class="day-name">Thu</span>
        <span class="day">9</span>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <span class="day-name">Fri</span>
        <span class="day">10</span>
      </ion-col>

      <ion-col size="1.7" class="day-week">
        <span class="day-name">Sat</span>
        <span class="day">11</span>
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let hour of [1,2,3,4,5,6,7,8,9,10,11,12]">
      <ion-col size="2" class="hours">
        <span>{{ hour }} AM</span>
      </ion-col>
      <ion-col size="10" *ngFor="let task of tasks">
        <div class="item-calendar" *ngIf="task.hour === hour" [style.background]="task.colorHex">
          <span class="item-title">
            {{ task.title}}
          </span>
          <span class="item-description">
            {{ task.description}}
          </span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
